.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 92vh;
    margin: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px 5px;
}

.parent .div1, .parent .div2, .parent .div3, .parent .div4 {
    border: 1px solid #d2d2d2;
    padding: 20px;
}

.div1 { grid-area: 1 / 9 / 4 / 13;
    /*background-color: #0f6674;*/
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
}
.div2 { grid-area: 4 / 9 / 7 / 13;
    /*background-color: #0f6674;*/
/*background-color: #0b2e13;*/
    border-radius: 10px 10px 10px 10px

}
.div3 { grid-area: 1 / 1 / 7 / 4;
    border-radius: 0 0 10px 10px

/*background-color: #ce3333;*/
}
.div4 { grid-area: 1 / 4 / 7 / 9;
    border-radius: 0 0 10px 10px;
    padding : 40px;

/*background-color: #3d2954;*/
}

.dashboard {
    /*padding: 0 10px;*/
}