body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px!important;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0f6674;
    --secondary-color: #7cb4b4;
    --tertiary-color: #113d4d;
    --quaternary-color: #3d2954;
    --quinary-color: #d2d2d2;
    --senary-color: #f2f2f2;
    --septenary-color: #ffffff;
    --octonary-color: #000000;
    --nonary-color: #ffffff;
    --denary-color: #ffffff;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --tertiary-font: 'Roboto', sans-serif;
    --quaternary-font: 'Roboto', sans-serif;
    --quinary-font: 'Roboto', sans-serif;
    --senary-font: 'Roboto', sans-serif;
    --septenary-font: 'Roboto', sans-serif;
    --octonary-font: 'Roboto', sans-serif;
    --nonary-font: 'Roboto', sans-serif;
    --denary-font: 'Roboto', sans-serif;
    --primary-font-size: 16px;
    --secondary-font-size: 16px;
    --tertiary-font-size: 16px;
    --quaternary-font-size: 16px;
    --quinary-font-size: 16px;
    --senary-font-size: 16px;
}
