.single-working-time-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.bar-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: lightgray;
}

.bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0.7;
}

.start-time,
.end-time {
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    color: black;
}

.date-info {
    text-align: center;
    margin-bottom: 5px;
}

.bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
    height: 80%;
    border-radius: 5px;
    opacity: 0.7;
}
