/*.working-time-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center; !* Centrer les éléments horizontalement *!*/
/*    margin-top: 20px;*/
/*}*/

/*.title {*/
/*    margin-bottom: 20px; !* Espacement sous le titre *!*/
/*}*/

/*.columns {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*    max-width: 800px; !* Largeur maximale des colonnes *!*/
/*}*/

/*.column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0 10px; !* Petite marge sur les côtés de chaque colonne *!*/
/*}*/

/*.column h2 {*/
/*    margin-top: 10px;*/
/*}*/

/*.centered-button {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/

/*.button-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.delete-button {*/
/*    margin-left: auto;*/
/*    background-color: red;*/
/*}*/

.working-time-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    margin-top: 30px; /* Espacement en haut */
    margin-bottom: 30px; /* Espacement en bas */
}

.title {
    margin-bottom: 20px; /* Espacement sous le titre */
    border-top: 2px solid black;
}

.rows {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-direction: row; /* Ajustement pour une meilleure séparation verticale */
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px 0; /* Espacement en haut et en bas de chaque colonne */
}

.column label, .column input {
    margin-bottom: 10px; /* Espacement entre chaque champ de saisie */
}

.centered-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Espacement en bas du bouton centré */
}

.button-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacement en bas du conteneur de boutons */
}

.delete-button {
    margin-left: auto;
    background-color: red;
    margin-right: 10px; /* Espacement à droite du bouton de suppression */
}

.title{
    /*margin: 10px;*/
}



