.workingTimesClocks-button-group {
    margin-bottom: 30px;
}

.workingTimesClocks-button {
    position: relative;
    display: inline-block;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #393e44;
    padding: 0;
    font-size: 18px;
}

/*Une ligne en dessous le boutton*/
.workingTimesClocks-button-active::after {
    content: '';
    display: block;
    width:50px;
    height: 2px;
    background: var(--primary-color);
    transition: width .3s;
}